#!/bin/sh -e

# debconf
. /usr/share/debconf/confmodule

CURRENT_USER="plex"

if [ -r /etc/default/plexmediaserver ]; then
  . /etc/default/plexmediaserver
  CURRENT_USER=$PLEX_MEDIA_SERVER_USER
fi

firstuser=$(getent passwd 1000 | cut -d: -f1)
db_subst plexmediaserver/runasuser firstuser $firstuser
db_input high plexmediaserver/runasuser || true
db_go || true

db_get plexmediaserver/runasuser
RUNAS=$RET
if [ "$RUNAS" = "Manually Specify User" ]; then
  break=''
  while [ ! "$break" ]; do
    db_input high plexmediaserver/runascustomuser || true
    db_go || true
  
    db_get plexmediaserver/runascustomuser
    if getent passwd $RET > /dev/null; then
      break=1
      db_set plexmediaserver/runuser $RET
      RUNAS=$RET
    else
      db_subst plexmediaserver/nosuchuser faileduser $RET
      db_input high plexmediaserver/nosuchuser
      db_go || true
    fi
  done
else
  db_set plexmediaserver/runuser $RUNAS
fi

if [ "$RUNAS" != "$CURRENT_USER" ]; then
  homedir=$(getent passwd $CURRENT_USER | cut -d: -f6)
  PLEXDIR="$homedir/Library/Application Support/Plex Media Server"
  if [ ! -z "$PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR" -a -d "$PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR" ]; then
    PLEXDIR="$PLEX_MEDIA_SERVER_APPLICATION_SUPPORT_DIR/Plex Media Server"
  fi
  
  if [ -d "$PLEXDIR" ]; then
    db_subst plexmediaserver/oldlibrary oldlibrary "$PLEXDIR"
    db_input high plexmediaserver/oldlibrary || true
    db_go || true
  fi
fi
